body {
    padding: 2rem;
    background-color: #708090;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

#form { 
    background-color: #D3D3D3;
    color: #536878;
    padding: 1rem 1.25rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: auto;
    text-align:center;
}

.form-container-isentropic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.result-box-isentropic {
  background-color: #D3D3D3;
  color: #536878;
  padding: 1rem 1.25rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 25rem;
  flex: 1 1 50rem;
}
.result-box p {
  margin: 0.4rem 0;
}



input[type=radio] {
    font-size: 1rem;
    color: #536878;
}

input[type=submit] {
    font-size: 1.5rem;
    background-color: #536878;
    color: whitesmoke;    
    padding: 0.5rem;
    border-radius: 0.5rem;
}
